body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #bbbbbb;
    padding: 20px;
}




.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: rgb(248, 224, 10);
    text-decoration: underline;
}

.banner{
    width: 100%;
    
}




.productos{
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
   
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #bbbbbb;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px 40px 10px 40px;

}

.productos li:hover{
    border-color: yellowgreen;
    
}

.productos li:active{
    border-color: red;
    
}
.productos li:hover h2{
    font-size: 33px;

}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;

}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;


}

footer{
    text-align: center;
    background: url(media/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    margin: 20px;
}



form{
    margin: 40px 0;
}


form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: red;
    border: none;
    border-radius: 10px 10px 10px 10px;
    transition: 1s all;
    cursor: pointer;


}

.enviar:hover{
    background-color: darkred;
    transform: scale(1.2)
}

table{
    margin: 40px 40px;
}

thead{
    background: grey;
    color: white;
    font-weight: bold;
}

td{
    border: 1px solid black;
    padding: 8px 15px;
    
}

/* CSS nuetra home */

/*Aquí inicia el CSS para nuestra home*/
.banner{
    width: 100%;
}

.principal{
    padding: 3em;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}


.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.titulo-principal::first-letter{
    font-weight: bold;
}


.principal p{
    margin: 0 0 1em;
}


.principal strong{
    font-weight: bold;
}


.principal em{
    font-style: italic;
}


.utencilios{
    width: 120px;
    float:left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(white, grey);
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em;
    background: linear-gradient(grey, black);
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}
.lista-diferenciales{
    width: 40%;
    display:inline-block;
    vertical-align: top;
}
.items{
    line-height: 1.5;
}

.items:before{
    content: "✦";
}

.items:first-child{
    font-weight: bold;
}


.imagen-diferenciales{
    width: 60%;
    box-shadow: 10px 10px 10px black;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
    transition: 400ms;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}