
body{
    background: #cccccc;
    }

.titulo-principal{
    padding-left: 30px;
}

#banner {
    width: 100%;
    height: 700px;
}

.principal{
    background: #cccccc;
    padding: 20px;
}

.titulo-centralizdo {
    text-align: center;
    }   
p{
text-align: center;
    }

em strong{
   color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}





.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}